.candidate-education {
	.candidate-education-detail {
		min-height: 520px;
		padding: 1em 2em 0.25em;
		height: 100%;
	}

	form {
		height: 100%;

		.education-fields {
			height: calc(100% - 90px);
			overflow: auto;
			padding-bottom: 90px;
		}
	}

	.button-section {
		text-align: center;
	}
}

.education-section {
	margin: auto;
	width: 95%;
}

.education-list {
	padding: 2em 0.5em 1em;
}
