// mixins
//@import "../../../scss/mixins";
@import "../../../scss/_tsd.scss";

.company-main {
	text-align: center;
	margin: 2em;
	height: 700px;
}

div.company-setup {
	//@include lg-form(15px);
	font-size: 14px;
	text-align: center;
	width: 95%;
	margin: 1em auto;
	height: 100%;

	.company-form {
		font-size: 14px;
		background: white;
		color: #212529;
		padding: 2em 2em 1em;
		width: 760px;
		margin: 0 auto;
		height: 100%;

		form {
			height: 100%;
		}

		.company-fields {
			height: calc(100% - 90px);
			overflow: auto;
			padding-bottom: 90px;
		}
	}

	.addr-line > div:first-child {
		width: 80%;
	}

	label.col-form-label.label-right {
		text-align: right;
	}
}

.tsd-form-section + .tsd-form-section {
	margin-top: 18px;
}
