// mixins
//@import "../../../scss/mixins";
@import "../../../scss/_tsd.scss";

.company-main {
	text-align: center;
	margin-top: 2em;
}

div.company-setup {
	//@include lg-form(15px);
	font-size: 14px;
	text-align: center;
	width: 95%;
	margin: 1em auto;

	.company-form {
		font-size: 14px;
		background: white;
		color: #212529;
		padding: 2em 2em 1em;
		width: 760px;
		margin: 0 auto;
	}

	.addr-line > div:first-child {
		width: 80%;
	}

	label.col-form-label.label-right {
		text-align: right;
	}
}

.tsd-form-section + .tsd-form-section {
	margin-top: 18px;
}
